.container {
  min-height: 100vh;
  min-width: calc(100% - var(--admin-nav-width));
  padding-left: var(--admin-nav-width);
}

.main {
  margin: 0 auto;
  width: 75%;
  min-height: 100vh;
  max-width: 82.5rem;
  padding-top: 5rem;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.main__content__header {
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__content__header__title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.main__content__header__subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--secondary-text);
}

.main__content__body {
  grid-area: 2 / 1 / 4 / 5;
  height: 30rem;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.main__content__body__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: rgba(90, 100, 217, 0.15);
}

.main__content__body__item__icon {
  width: 1.8rem;
  height: auto;
  stroke: var(--secondary-text);
  transition: all 300ms;
  margin-bottom: 0.5rem;
}

.main__content__body__item__title {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--secondary-text);
  margin-bottom: 1rem;
}

.main__content__body__item__number {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text);
  letter-spacing: 0.1rem;
}

.main__content__footer {
  grid-area: 4 / 1 / 5 / 5;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  grid-column-gap: 2rem;
}

.main__content__footer__btn {
  background-color: transparent;
  background: var(--gradient-primary);
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text);
  padding: 1rem 2rem;
  cursor: pointer;
}
