.container {
  min-height: 100vh;
}

.main {
  margin: 0 auto;
  width: 75%;
  min-height: 100vh;
  max-width: 75rem;
  padding-top: 5rem;
}

.main__title {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text);
}
