.btn {
  font-family: inherit;
  padding-block: 1.4rem;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  transition: all 200ms;
  width: 100%;
  padding-inline: 3rem;
  cursor: pointer;
  transition: all 200ms;
}

.btn:hover {
  scale: 1.02;
}

.btn:active {
  scale: 0.98;
}

.btn:disabled {
  background: #808080;
  background-color: #808080;
}

.btn--block {
  width: auto;
  display: inline-block;
}

.btn--primary {
  background: var(--gradient-primary);
  color: var(--text);
}

.btn--secondary {
  background: var(--secondary);
  color: var(--text);
}

.btn--tertiary {
  background: var(--tertiary);
  color: var(--text);
}
