.container {
  min-height: 100vh;
}

.main {
  margin: 0 auto;
  width: 75%;
  min-height: 100vh;
  max-width: 75rem;
  padding-block: 5rem;
}

.main__title {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text);
}

.form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.form__container__left {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form__container__right {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--primary);
  background-color: transparent;
  width: 100%;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form__label {
  font-size: 1.2rem;
  color: var(--text);
  font-weight: 400;
  letter-spacing: 0.1rem;
  opacity: 0.5;
}

.form__input,
.form__input:focus {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--text);
  background-color: var(--post);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-family: inherit;
  transition: all 200ms;
}

.form__input:focus {
  border: 1px solid #fff;
}

.form__input::placeholder {
  color: #fff;
}

.form__input:disabled {
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.form__button {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--text);
  background-color: var(--post);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  transition: all 200ms;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

.form__button--update {
  background-color: var(--primary);
}

.form__button--delete {
  background-color: var(--danger);
}

.form__button--cancel {
  background-color: var(--tertiary);
}

.form__button:hover {
  scale: 1.02;
}

.form__button:active {
  scale: 0.98;
}

.form__button:disabled {
  background: #808080;
  background-color: #808080;
}

.form__image {
  width: 80%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 200ms;
}

.form__button--change {
  background-color: var(--primary);
}

.form__button--remove {
  background-color: transparent;
  border: 2px dashed var(--danger);
}

.form__button--remove:hover {
  background-color: var(--danger);
}
