.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 11rem;
  height: 13rem;
  align-items: center;
  overflow-x: hidden;
}

.nav__group {
  display: flex;
}

.nav__logo {
  height: 4rem;
}

.nav__item {
  opacity: 0.7;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  transition: all 200ms;
}

.nav__item:hover {
  opacity: 1;
}

.nav__item--active {
  opacity: 1;
}

.nav__item:not(:last-child) {
  margin-right: 8rem;
}

.nav__checkbox {
  display: none;
}

.nav__button {
  height: 5rem;
  width: 5rem;
  text-align: center;
  cursor: pointer;
  display: none;
}

.nav__hamburger {
  display: none;
  margin-top: 2.5rem;
  position: relative;
  user-select: none;
}

.nav__hamburger,
.nav__hamburger::after,
.nav__hamburger::before {
  height: 1.5px;
  width: 3rem;
  background-color: var(--text);
  display: inline-block;
}

.nav__hamburger::after,
.nav__hamburger::before {
  content: '';
  position: absolute;
  left: 0;
}

.nav__hamburger::after {
  top: 1rem;
}

.nav__hamburger::before {
  top: -1.01rem;
}

.nav__checkbox:checked ~ .nav__mobile {
  transform: translateX(100%);
  cursor: grab;
}

.nav__mobile {
  display: none;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  z-index: 2;
  transition: all 600ms;
  transform-origin: right;
}

.nav__mobile__group {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  padding: 0 5rem;
  align-items: center;
}

.nav__button--close {
  display: inline-block;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  position: relative;
  cursor: pointer;
}

.nav__close {
  display: block;
  height: 1px;
  width: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text);
}

.nav__close--1 {
  transform: translate(-50%, -50%) rotate(135deg);
}

.nav__close--2 {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.nav__mobile__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 5rem;
}

.nav__mobile__item {
  font-weight: 200;
  text-align: center;
  font-size: 2.8rem;
  color: var(--text);
  text-decoration: none;
  opacity: 1;
}

@media (max-width: 1200px) {
  .nav__group {
    display: none;
  }
  .nav__hamburger {
    display: inline-block;
  }

  .nav__button {
    display: inline-block;
  }
  .nav__mobile {
    display: block;
  }
  .nav__mobile__group {
    padding: 0 11rem;
  }
}

@media (max-width: 900px) {
  .nav__group {
    display: none;
  }
  .nav__hamburger {
    display: inline-block;
  }
  .nav__mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .nav {
    padding: 0 5rem;
  }
}

@media (min-width: 1800px) {
}

/* Fade in animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
