.container {
  display: grid;
  grid-template-columns: 55% 45%;
  height: calc(100vh - var(--landing-nav-height));
  width: 100%;
}

.text-container {
  width: 75%;
}

.container__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-heading {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.8rem;
  font-weight: 300;
  opacity: 50%;
  margin-bottom: 8rem;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.landing-img {
  width: 45rem;
}

/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + Big desktop
*/

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 100%;
  }
  .landing-img {
    display: none;
  }
  .container__left {
    height: calc(100vh - var(--landing-nav-height));
  }
}

@media (max-width: 600px) {
  .primary-heading {
    font-size: 4rem;
  }
  .text {
    font-size: 1.6rem;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
