.container {
  min-height: 100vh;
}

.main {
  margin: 0 auto;
  width: 75%;
  min-height: 100vh;
  max-width: 75rem;
  padding-top: 5rem;
}

.parent {
  position: relative;
}

.parent::after {
  content: "";
  position: absolute;
  height: 2rem;
  width: 3px;
  top: 100%;
  left: 5rem;
  background-color: #fff;
  opacity: 0.5;
}

.main-post {
  border: 3px solid rgba(145, 77, 255, 0.25);
}

.replies {
  width: 85%;
  margin: 0 auto;
  margin-block: 3rem;
}

.no-replies {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  opacity: 0.4;
}
