.container {
  min-height: 100vh;
  min-width: calc(100% - var(--admin-nav-width));
  padding-left: var(--admin-nav-width);
}

.main {
  margin: 0 auto;
  width: 75%;
  min-height: 100vh;
  max-width: 75rem;
  padding-top: 5rem;
}

.main__title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.main__subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--secondary-text);
  margin-bottom: 2rem;
}

.main__table {
  background-color: rgba(63, 37, 132, 0.15);
  padding: 0 3rem 3rem 3rem;
  margin: 0 auto;
  height: 50rem;
  border-radius: 1.6rem;
  border-collapse: collapse;
}

.main__table__head {
  padding: 2rem 0;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: start;
  color: var(--secondary-text);
}

.main__table__head--username {
  width: 15rem;
}

.main__table__head--name {
  width: 15rem;
}

.main__table__head--email {
  width: 35rem;
}

.main__table__head--member {
  width: 15rem;
}

.main__table__head--post {
  width: 30rem;
}

.main__table__head--admin {
  width: 30rem;
}

.main__table__head--delete {
  width: 10rem;
}

.main__table__row {
  background-color: red;
  display: block;
  width: 100%;
}

.main__table__data {
}
