.main {
  margin-left: var(--admin-nav-width);
  width: calc(100% - var(--admin-nav-width));
  height: 100vh;
  padding-inline: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-container {
  width: 100%;
  height: 55rem;
  border-radius: 1.2rem;
  background-color: rgba(73, 33, 176, 0.087);
  overflow: hidden;
}

.main-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--text);
  letter-spacing: 0.1rem;
}

.main-text {
  font-size: 1.4rem;
  color: var(--secondary-text);
  margin-bottom: 3rem;
}

.table-row {
  display: flex;
}
.table-col {
  flex: 1;
  font-size: 1.2rem;
  min-height: 5rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
.table-header {
  background-color: rgba(62, 37, 131, 0.278);
  color: var(--secondary-text);
}

.table-body {
  height: 100%;
  overflow-y: scroll;
}

.table-body::-webkit-scrollbar {
  display: none;
}

.table-item {
  background-color: rgba(134, 93, 238, 0.06);
}

.table-col--username {
  flex: 2;
}
.table-col--name {
  flex: 2;
}
.table-col--email {
  flex: 2;
}
.table-col--verified .table-icon {
  cursor: default !important;
}
/* .table-col--posts {
}
.table-col--toggle {
}
.table-col--delete {
} */

.table-icon {
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
  transition: all 200ms;
}
